/* @theme marp-mozaicworks */

/* Default page style */
section {
    width: 1920px;
    height: 1080px;

    background-color: white;
    color: #2b7099;

    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 1.6;
    padding-top: 60px;
}

/* Title slide - any page that has only an h1 */
/* Display the title in the center of the slide */
section:not(:has(p)):not(:has(pre)) h1 {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-family: "Roboto Slab", serif;
    font-style: bold;
    justify-content: center;
    height: 60%;
}

/* Hide the header and footer on title slides */
section:not(:has(p)):not(:has(pre)) header {
    display: none;
}

section:not(:has(p)):not(:has(pre)) footer {
    display: none;
}

section:not(:has(p)):not(:has(pre))::after {
    display: none;
}


/* Header styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    color: #2b7099;
}

h1 {
    font-size: 68px;
    text-align: center;
    padding-bottom: 1rem;
}

/* Default paragraph style */
section p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* Default list style */
section ul li {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    list-style: disc;
    list-style-position: inside;
}

/* Image styles */

section img {
    width: auto;
    padding: 0;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #2b7099;
}

section p:has(img) {
    padding-top: 0;
}

/* Header style */
header {
    position: absolute;
    display: block;
    top: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: italic;
}

/* Footer style */
section::after {
    bottom: 10px;
    padding: inherit;
    pointer-events: none;
    position: absolute;
    right: 50px;
    font-family: 'Roboto';
    font-size: 14px;
    color: #2b7099;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

footer {
    position: absolute;
    left: 50px;
    right: 50px;
    height: 20px;
    font-family: 'Roboto';
    font-size: 14px;
    bottom: 30px;
}

/* Custom styles */

/* Italic following an image is a note */
section p:has(img)+p em {
    display: block;
    font-size: 14px;
    text-align: center;
}

/* Italic following code is a note */
section pre+p em {
    display: block;
    font-size: 14px;
    text-align: center;
}

/* Code block styling */
code {
    margin-left: 3rem;
    margin-right: 3rem;
    display: block;
    background-color: white;
    border: 1px solid #2b7099;
    border-radius: 5px;
    padding: 0.5rem;
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
}

/* Highlight.js theme customization */
.hljs-keyword {
    color: #6b6bb8;
    font-style: italic;
}

.hljs-string {
    color: #718c00;
}

.hljs-number {
    color: #f5871f;
}

.hljs-comment {
    color: #7195a8;
    font-style: italic;
}